<aside class="menu">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eos odit nam! Nam, voluptatibus natus numquam recusandae fugit odio illum atque adipisci consequuntur laboriosam ad delectus voluptas debitis voluptates quae!
  ---------
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, magnam aliquid doloremque eius repudiandae deleniti magni voluptatibus iste omnis voluptate consequatur nihil voluptas delectus corporis impedit optio quam asperiores at!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptatem assumenda doloremque harum hic mollitia dignissimos officia vitae, facilis consectetur. Maiores nostrum quos sint praesentium explicabo deserunt et blanditiis rerum.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae iste enim iure, iusto esse in quis nulla rem minima laudantium numquam recusandae quidem eius perspiciatis velit quia odit laborum illum.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nostrum repudiandae sit! Explicabo maiores totam animi ea nulla rem culpa ad corrupti ipsam velit, repellendus expedita optio sed nisi quaerat.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Et mollitia voluptatibus libero, voluptatum repudiandae saepe culpa dolorem a dolores? Veritatis tempore voluptatem est ea expedita. Fuga quidem temporibus expedita cumque.
</aside>