<aside>
  <article class="message" id="banner">
    <div class="message-header" >
      <p>Hey listen!</p>
    </div>
    <div class="message-body">
      <p>Hola. Este blog se mantiene gracias a algunos banners de publicidad.</p>
      <p>Si tienes bloqueador de anuncios te pido que nos pongas en tu whitelist. La publicidad de este sitio no es invasiva.
        O si prefieres podrias dar una pequeña donación en las diferentes criptomonedas de este sitio.
      </p>
      Por tu atención gracias
    </div>
  </article>
</aside>
<aside class="menu has-text-centered">
  <h4 class="menu-label">Tu ayuda me permite seguir escribiendo</h4>
  <p class="menu-label">Bitcoin</p>
  <figure clas="image">
    <img src="/assets/images/dir_criptos/bitcoin.jpg" />
    <figcaption class="is-size-7">bc1q64ra4m3a7zsmn5eadl95xr5v4p3dm4x93yy0sn</figcaption>
  </figure>
  <p class="menu-label">Litecoin</p>
  <figure class="image">
    <img src="/assets/images/dir_criptos/litecoin.jpg"/>
    <figcaption class="is-size-7">ltc1qz44lpe0xjm99h9pr0k8whk2ulqfwyqzjs2eycv</figcaption>
  </figure>
  <p class="menu-label">Dash</p>
  <figure class="image">
    <img src="/assets/images/dir_criptos/dash.jpg"/>
    <figcaption class="is-size-7">Xifb8wwao1JaCrhNQPYE89RG443VpAPM7C</figcaption>
  </figure>
  <p class="menu-label">Apoyame en Ko-fi</p>
  <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Apoyame en ko-fi', '#29abe0', 'D1D6155QO');kofiwidget2.draw();</script> 
</aside>