<aside class="menu has-text-centered">
  <h4 class="menu-label">Donación - Invitame una comida</h4>
  <p class="menu-label">Bitcoin</p>
  <figure clas="image">
    <img src="/assets/images/dir_criptos/bitcoin.jpg" />
    <figcaption class="is-size-7">bc1q64ra4m3a7zsmn5eadl95xr5v4p3dm4x93yy0sn</figcaption>
  </figure>
  <p class="menu-label">Litecoin</p>
  <figure class="image">
    <img src="/assets/images/dir_criptos/dash.jpg"/>
    <figcaption class="is-size-7">Xifb8wwao1JaCrhNQPYE89RG443VpAPM7C</figcaption>
  </figure>
  <p class="menu-label">o un cafe</p>
  <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Apoyame en ko-fi', '#29abe0', 'D1D6155QO');kofiwidget2.draw();</script> 
</aside>