<nav class="navbar has-background-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{site.url}}"><img src="/assets/images/shadowmyst_logo.jpg"></a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item menu-text-color has-background-black" href="/criptomonedas/">Criptomonedas</a>
      <a class="navbar-item menu-text-color has-background-black" href="/tecnologia/">Tecnología</a>
      <div class="navbar-item has-dropdown is-hoverable has-background-black">
        <a class="navbar-link menu-text-color has-background-black">Programación</a>
        <div class="navbar-dropdown has-background-black">
          <a class="navbar-item menu-text-color" href="/ruby/">Ruby</a>
        </div>
      </div>
      <a class="navbar-item menu-text-color has-background-black" href="/review/">Reviews: series/peliculas</a>
      <a class="navbar-item menu-text-color has-background-black" href="/offtopic/">Off topic</a>
      <a class="navbar-item menu-text-color has-background-black" href="/ipfs/">IPFS</a>
      <a class="navbar-item menu-text-color has-background-black" href="https://insertcoin.xyz" target="_blank">InsertCoinXYZ</a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item has-background-black">
        <div class="buttons">
          <a class="button is-light" rel="nofollow" href="https://t.me/ShadowMystCanal" target="_blank">
            <i class="fab fa-telegram"></i>
          </a>
          <a class="button is-light" rel="nofollow" href="https://www.facebook.com/ShadowMystPage/" target="_blank">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a class="button is-light" rel ="nofollow" href="https://mstdn.mx/@ShadowMyst" target="_blank">
            <i class="fab fa-mastodon"></i>
          </a>
          <a class="button is-light" rel="nofollow" href="https://twitter.com/Shadow_Myst" target="_blank">
              <i class="fab fa-twitter-square"></i>
          </a>
          <a class="button is-light" rel="nofollow" href="https://www.youtube.com/channel/UC8rwHPwKMOPIBbV9H7wKuxA" target="_blank">
            <i class="fab fa-youtube-square"></i>
          </a>
          <a class="button is-light" rel="nofollow" href="https://github.com/ShadowMyst" target="_blank">
            <i class="fab fa-github-square"></i>
          </a>
          <a class="button is-light" rel="nofollow" href="https://shadowmyst.net/feed.xml" target="_blank">
            <i class="fas fa-rss"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>