---
layout: default
---
<section class="section has-text-justified">
  <div class="columns">
    <div class="column is-9">
      <div class="container">
        <h1 class="title has-text-centered">{{ page.title }}</h1>
        <h3 class="subtitle has-text-centered">{% assign m = page.date | date: "%-m" %}
            {{ page.date | date: "%-d" }} de
            {% case m %}
              {% when '1' %}Enero
              {% when '2' %}Febrero
              {% when '3' %}Marzo
              {% when '4' %}Abril
              {% when '5' %}Mayo
              {% when '6' %}Junio
              {% when '7' %}Julio
              {% when '8' %}Agosto
              {% when '9' %}Septiembre
              {% when '10' %}Octubre
              {% when '11' %}Noviembre
              {% when '12' %}Diciembre
            {% endcase %} del
            {{ page.date | date: "%Y" }} - Escrito por {% if page.author %} {{page.author}} {% else %} {{ site.author }}{% endif %}</h3>
        <figure class="image image-centered portada">
            <img src="{{page.image}}" />
        </figure>
        <br />
        <div class="content">
          {{ content }}
        </div>
      </div>
      {% if page.comments %}
      <div id="disqus_thread"></div>
    <script>
    
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://shadowmyst-net.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      {% endif %}
    </div>
    <div class="column is-3">
      {% include aside.html %}
    </div>
  </div>
</section>